.main-container{
    grid-template-columns: 3fr 1fr;

}
.task-container{
    grid-template-columns: 1fr 2fr 1fr;
}
.discover{
background: linear-gradient(130.70deg, rgb(55, 82, 253) 0.419%,rgb(108, 127, 250) 52.66%,rgb(155, 168, 248) 99.733%);
}